ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* 必要に応じて複数行に表示させる場合 */
}

ul li {
    margin: 20px;
    flex: 1 0 200px; /* 各項目が同じ幅を持つように設定 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

ul li img {
    display: block;
    margin: 0 auto;
}

ul li div {
    text-align: center;
    margin-top: 10px;
}
