h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 項目を均等に配置 */
}

ul li {
    margin: 10px;
    flex: 1 0 25%; /* 各項目が横に3つ並ぶように設定 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

ul li img {
    display: block;
    margin: 0 auto;
}

ul li div {
    text-align: center;
    margin-top: 10px;
}

/* モバイルデバイス用のスタイル */
@media (max-width: 600px) {
    ul {
        justify-content: space-around; /* 項目を均等に配置 */
    }

    ul li {
        flex: 1 0 25%; /* 横に3つ並ぶように設定 */
        margin: 10px;
    }
}
